:root{
    --search-input-text: #555;
    --search-input-bg: #ebfffc;
    --text: #ebfffc;
    --shadow: 0.4rem 0.4rem 1rem black;
    --card-background: linear-gradient(135deg, rgb(75, 109, 204), rgb(153, 76, 177));
}

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    width: 90%;
    max-width: 29.375rem;
    border-radius: 1.5rem;
    padding: 2.5rem 2.188rem;
    text-align: center;
    background-image: var(--card-background);
    box-shadow: var(--shadow);
    transform: all 0.3s linear;
    scale: 0.8;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    border: 0;
    outline: 0;
    padding: 0.625rem 1.563rem;
    height: 3.75rem;
    border-radius: 1.875rem;
    margin-right: 1rem;
    font-size: 1.125rem;
    flex: 1;
    color: var(--search-input-text);
    background-color:var(--search-input-bg);
}

.search button{
    border: 0;
    outline: 0;
    background-color:var(--search-input-bg);
    border-radius: 50%;
    width: 3.75rem;
    height: 3.75rem;
    cursor: pointer;
}

.search button img{
    width: 1.2rem;
}

.weather-icon{
    width: 10.625rem;
    margin-top: 1.875rem;
}

.weather h1{
    font-size: 5rem;
    font-weight: 500;
    color: var(--text);
}

.weather h2{
    font-size: 2.813rem;
    font-weight: 400;
    color: var(--text);
    margin-top: -0.625rem;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    margin-top: 3.125rem;
}

.col{
    display: flex;
    align-self: center;
    text-align: left;
}

.col img{
    width: 2.5rem;
    margin-right: 0.625rem;
}

.humidity, .wind{
    font-size: 1.75rem;
    margin-top: -0.375rem;
}

p{
    color: var(--text);
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 0.625rem;
    font-size: 0.9rem;
    margin-top: 0.625rem;
    color: var(--text);
    display: none;
}